.champ {
    border: solid black 1px;
    width: 130px;
    height: 260px;
    position: relative;
    color: white;
    left: 0px;

}
#champ0, #champ1, #champ2, #champ3, #champ4 {
    /* border: solid black 1px; */
    width: 130px;
    height: 260px;  
    margin: 5px;
}
.bottom {
    position: absolute;
    bottom: 0%;
    color: white;
    width: 100%;
    border-top: 2px black solid;
}
.name {
    float: left;
    padding-left: 5px;
  
}
.cost {
    float: right;  
    padding-right: 5px;
  
}
.traits {
    position: absolute;
    bottom: 15%;
    left: 10%;
    color: white;
    font-size: 12px;
    
}
img {
    height: 100%;
    width: 100%;
}
.trait_icon {
    width: 25px;
    height: 25px;
    color:rgb(238, 199, 26)
}
.trait_text {
   padding-left: 5px;
   margin-top: auto;
   margin-bottom: auto;
}
.bench {
    width: 70px;
    height: 70px;
    border: solid black 2px;
    display: inline-block;
}

.board {
    left: 25%;
}
.oddRow {
    margin-left: 35px;
}
#shop {
    left: 20%;
    bottom: 0;
    position: absolute;
    border: solid black 1px;
}
#bench {
    bottom: 35%;
    position: absolute

}
.boardSpace {
    /* height: 70px;
    width: 70px;
    border: solid black 2px; */
    display: inline-block;
    margin-right: 5px;
}

.hexagon {
    position: relative;
    height: 75px;
    width: 75px;
    background: black;
  }

.hexagonInner {
    position: absolute;
    content: '';
    top: 2px;  /* border width */
    left: 2px;  /* border width */
    height: calc(100% - 4px);  /* 100% - (2 * border width) */
    width: calc(100% - 4px);  /* 100% - (2 * border width) */
    background: rgb(221, 221, 221);
  }
.hexagon, .hexagonInner {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#bench {
    left: 15%;
    top: -40%;
}
.traitCount {
    /* margin-left: 35px;
    margin-top: -10px; */
}
.syngergy {
    float: right;
}
.synergies_icon {
    width: 25px;
    height: 25px;
    margin-top: 12.5px;

    margin-right: 5px;
    margin-left: 5px;
    float: left;
    border: solid black 1px;
    background-color: teal;
}
#sell {
    width: 90%;
    height: 80%;
    bottom: 10%;
    border: solid black 2px;
    background-color: thistle;
    text-align: center;
    padding: 50px;
}